<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Bienvenue user</h1>

    <label for="theme">Choisir un theme :</label>
    <select name="theme" id="theme">
        {% for theme in themes %}
        <option value="{{ theme.theme_name }}">{{ theme.theme_name }}</option>
        {% endfor %}
    </select>
    <button><a href="/quizz/question">JOUER</a></button>
    <ul>
        {% for question in questions %}
        <li>{{ question.question_text }}</li>
        {% endfor %}
    </ul>

</body>
</html>