{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizz</title>
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    </head>
<body>
     <div class="wrapper fadeInDown">
        <div id="formContent">
          <div class="fadeIn first">
            <h1>Question pour un Champion</h1>
          </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input id="connect" type="submit" value="se connecter" class="fadeIn fourth">
    </form>
    <div id="formFooter">
        <a class="underlineHover" href="#">Mot de passe oublié ?</a>
    </div>
</body>
<script src="{% static 'scripts/script.js'%}"></script>
</html>
</body>
</html>