{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizz</title>
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    </head>
<body>
    <h1>QPUC</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% for val in value_list %}
        <p>{{ val }}</p>
        {% endfor %}
        <input type="submit" value="se connecter">
    </form>
</body>
<script src="{% static 'scripts/script.js'%}"></script>
</html>
</body>
</html>